.ReadPosts {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.sort-dropdown {
    margin-bottom: 20px;
}

.sort-dropdown label {
    margin-right: 10px;
}

.sort-dropdown select {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    color: #333;
    cursor: pointer;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute items evenly */
    margin-top: 20px; /* Add margin to separate posts from dropdown menu */
}

.posts h2 {
    text-align: center;
}
